.main{
    background-image: url("/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.first-head{
    background-color: white;
    color: cadetblue;
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
}
.btn{
    border: none;
    padding: 10px;
    margin: 10px;
    background-color: cadetblue;
    color: white;
    border-radius: 10px;
}
td{
    justify-content: space-between;
    color: cadetblue;
    padding: 10px;
}
a{
    color: inherit;
    text-decoration-line: none;
}
#btn_wrap{
    border-radius: 2px;
    border-color: inherit;
    background-color: white;
}
.content{
    background-color: white;
    padding: 10px;
}
p{
    font-size: medium;
}
#redbox{
    height: 60px;
    border: 3px;
    border-style: solid;
    padding: 3px;
    display: flex;
    width: 300px;
    color: darkred;
    margin-bottom: 20px;
}
h1, h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkred;
    margin-bottom: 0px;
}
.contact{
    background-color: white;
    color: inherit;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 250px;
    margin-right: 400px;
}
#contact_img{
    background-image: url(Images/contact.png);
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0px 400px 200px 0px;
    margin: 0px 0px 5px 0px;

}
#form{
    float: left;
    margin-top: 0px;
}